# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
*.egg

# Virtual environments
venv/
env/
.venv/
env_study/
agent_study/
Include/
Lib/
Scripts/
pyvenv.cfg
share/

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# dist/build
dist/
build/
